<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JobGeeks | Home Page</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ec77412d4b.js" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon-files/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-files/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-files/favicon-16x16.png">
  <link rel="manifest" href="favicon-files/site.webmanifest">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <header class="home-page-sect_a-top-container--1">
    <div class="container-fluid remove-spacing">
      <!-- Alert Message -->
      <div class="home-page-sect_a-alert-message-box">
        <div class="alert-box">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <div class="home-page-sect_a-alert-text-icon-container">
            <span class="home-page-sect_a-alert-icon-container">
              <i class="far fa-check-circle"></i>
            </span>
            <div class="home-page-sect_a-alert-text-container">
              <p class="home-page-sect_a-alert-text">We are currently in partnership with <a href="https://www.topcv.co.uk/">TopCV</a> to offer better services!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header class="home-page-sect_a-top-container--2">
    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col-lg-3 text-center text-md-end pe-md-4">
          <div class="pre-navigation">
            <a href="/account/login" class="nav-link--1">Login</a>
            <a href="/account/register" class="nav-link--2">Register</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header class="home-page-sect_a-top-container--3">
    <nav class="navbar navbar-expand-lg">
      <!-- Shape Divider -->
      <div class="custom-shape-divider-bottom-1612716048">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill--1"></path>
        </svg>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Website Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fas fa-bars hamburger-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="nav-link-highlight">About</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="nav-link-highlight">Contact</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="nav-link-highlight">Clients</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="home-page-sect_b-middle-container--1">
    <div class="container-fluid">
      <div class="custom-shape-divider-bottom-1612716048">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill--2"></path>
        </svg>
      </div>
      <div class="home-page-sect_b-text-container--1">
        <h1>
          <span class="home-page-sect_b-heading">JobGeeks</span>
          <span class="home-page-sect_b-subheading">Revolutionary job-recruitment...</span>
        </h1>
      </div>
      <div class="home-page-sect_b-button-container--1">
        <div class="home-page-sect_b-button-container--2">
          <a href="/account/register" class="btn home-page-sect_b-button-colour btn-lg">Register</a>
        </div>
      </div>
      <div class="home-page-sect_b-img-section">
        <div class="container">
  <div class="row justify-content-evenly">
    <div class="col-md-auto">
      <div class="card home-page-sect_b-card-1">
  <div class="card-body">
    <div class="home-page-sect_b-text-img-container">
      <div class="home-page-sect_b-img-container-1">
        <img src="images/img-1.png" alt="Drawing of a CV">
      </div>
      <div class="home-page-sect_b-text-container--2">
        <h4 class="home-page-sect_b-text--1">No CVs involved!</h4>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="col-md-auto">
      <div class="card home-page-sect_b-card-2">
  <div class="card-body">
    <div class="home-page-sect_b-text-img-container">
      <div class="home-page-sect_b-img-container-2">
        <img src="images/img-2.jpg" alt="Image describing various skills">
      </div>
      <div class="home-page-sect_b-text-container--3">
        <h4 class="home-page-sect_b-text--2">Get hired based on skills!</h4>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
      </div>
    </div>
  </section>
  <section class="home-page-sect_c-middle-container--2">
    <div class="container-fluid">
      <!-- Shape Divider -->
      <div class="custom-shape-divider-bottom-1612716048">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill--3"></path>
          </svg>
      </div>
      <div class="home-page-sect_c-text-container--1">
        <h3 class="home-page-sect_c-text--1">Talent-based recruiting for all</h3>
      </div>
      <!-- Pictures for Career Changers, Grads, non-grads, oversees -->
  <div class="row justify-content-center g-0">  <!-- Centers last column at medium-screen -->
    <div class="col-lg-3 col-md-4">
      <div class="home-page-sect_c-text-img-container home-page-sect_c-spacer-1">
        <div class="home-page-sect_c-img-container-1">
          <img src="images/img-3.jpg" alt="Picture for career changers">
        </div>
        <div class="home-page-sect_c-text-container--2">
          <p class="home-page-sect_c-text--2">Are you looking to switch careers? JobGeeks has excellent support for those wanting to start in a new industry.
            Getting that first job in your new field isn't easy... that's why we have a dedicated part of our network exclusive for those
            trying to cross the career bridge!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="home-page-sect_c-text-img-container home-page-sect_c-spacer-2">
        <div class="home-page-sect_c-img-container-2">
          <img src="images/img-4.png" alt="Picture for graduates">
        </div>
        <div class="home-page-sect_c-text-container--3">
          <p class="home-page-sect_c-text--3">As a graduate, you have a leg up over some of your competition. We currently recruit for some of the <span class="home-page-sect_c-highlight text-uppercase fw-bold fst-italic">best</span> graduates employees.
            If you have a 2:2 or above, JobGeeks will definitely find you a suitable role. You tell us your skills and we'll "hook" you up with the
            best employers around in some of the most lucrative jobs
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="home-page-sect_c-text-img-container home-page-sect_c-spacer-3">
        <div class="home-page-sect_c-img-container-3">
          <img src="images/img-5.png" alt="Picture for non-graduates">
        </div>
        <div class="home-page-sect_c-text-container--4">
          <p class="home-page-sect_c-text--4">Being a non-graduate, you might assume that it's harder to find work or seek employment. Whilst that's certainly true for <span class="fw-bold fst-italic">graduate</span> jobs, there are plently of jobs out there
          you can apply to. Better still, our team at JobGeeks can set you up with the best hiring managers to help you get the job you want
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="home-page-sect_c-text-img-container">
        <div class="home-page-sect_c-img-container-4">
          <img src="images/img-6.png" alt="Picture for oversees workers">
        </div>
        <div class="home-page-sect_c-text-container--5">
          <p class="home-page-sect_c-text--5">If you're coming to the UK from abroad, then you might need a little extra help. Luckily, JobGeeks provides specialst support for people in
          your situation. Our Ovresees Careers Support team will ensure that your application meets the requirements of future employers</p>
        </div>
      </div>
    </div>
  </div>
</div>
  </section>
  <section class="home-page-sect_d-middle-container--3">
    <div class="container-fluid">
      <!-- Shape Divider -->
      <div class="custom-shape-divider-bottom-1612716048">
       <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
           <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill--4"></path>
       </svg>
   </div>
  <div class="row home-page-sect_d-job-section">
    <div class="col-md-auto">
      <div class="home-page-sect_d-text-img-container bg-info">
        <div class="home-page-sect_d-img-container--1">
          <img src="images/img-7.jpg" alt="A picture with a 'Dream Job' sign">
        </div>
        <div class="home-page-sect_d-text-container--1">
          <h4 class="home-page-sect_d-text-1">Top Quality Jobs</h4>
        </div>
        <!-- <div class="home-page-sect_d-text-container--2 bg-secondary">
          <span class="home-page-sect_d-img-container--2">
            <i class="far fa-check-circle"></i>
          </span>
          <div class="home-page-sect_d-text-container--3">
            <p class="home-page-sect_d-text-2">Reputable companies</p>
          </div>
        </div>
        <div class="home-page-sect_d-text-container--2 bg-info">
          <span class="home-page-sect_d-img-container--2">
            <i class="far fa-check-circle"></i>
          </span>
          <div class="home-page-sect_d-text-container--3">
            <p class="home-page-sect_d-text-2">High-rated employers</p>
          </div>
        </div> -->

        <ol class="home-page-sect_d-list-container--1">
          <li class="bg-danger">
            <i class="far fa-check-circle"></i> Reputable companies
          </li>
          <li>
            <i class="far fa-check-circle"></i> Generous Employers
          </li>
        </ol>

      </div>
    </div>
    <div class="col-md-auto">

    </div>
  </div>
</div>
  </section>



  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <!-- Full jQuery Library -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="index.js" charset="utf-8"></script>
</body>

</html>
